.nav-link {
    padding:10px;
    background-color: rgba(0, 255, 255, 0.282);
    text-align: end;
}
a {
    color:rgb(2, 14, 10);
    text-decoration: none;
    padding:20px;
}
.active{
    color:aqua;
}
img {
    width: 60px;
    display: flex;
}
/*Home page*/
#page1 {
   background-image: url("C:/Users/hp/Pictures/images/img1.jpg"); 
   height:50rem;
   width:90rem;
   background-size: cover;
   background-position: top 25% right 0;
   padding:20px;
   background-color: aqua;

   
}
#page1 h4{
    color: aquamarine;
}